BOT_TOKEN=your_telegram_bot_token_here
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/toefl-ads-bot
PORT=3000
ADMIN_CHAT_ID=your_telegram_chat_id_here
ADMIN_USERNAME=TOEFLadmint
ADMIN_PHONE=+998335246820
CHANNEL_USERNAME=toefltashkent1
WEBHOOK_URL=https://your-railway-app.railway.app
